html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.header{
    position: fixed;
    height: 60px;
    width: 100%;
}

.sidebar{
    color: rgb(104, 148, 165);
    background-color: rgb(39, 38, 38);
    height: calc(100vh - 60px);
}

.fa-code{
    color: blue;
}

.logotipo{
    text-transform: uppercase;
}

.logotipo h1{
    font-size: 20px;
    letter-spacing: 8px;
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
}

.slogan{
    color: magenta !important;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: flex-start;
}

input,  textarea{
    background-color: rgb(219, 219, 190) !important;
}

input::placeholder, textarea::placeholder{
    color: #707c80 !important;
    letter-spacing: 2px;
}

select{
    background-color: rgb(219, 219, 190) !important;
    color: #707c80 !important;
    letter-spacing: 2px;
}

.hello-world{
    color: #707c80;
    text-align: justify;
}

.tela{
    background-color: black;
}

#input-pesquisar{
    width: 400px;
}

#btn-pesquisar, #input-pesquisar{
    height: 40px;
}